section.general-page 
    .wrapper-container
        .wrapper-left 
            h2.section-title Tổng quan yêu cầu xử lý
        .wrapper-right
            .wrapper-right_header.d-flex.align-content-center.justify-content-between
                .wrapper-right_header--left
                    h2.section-title Yêu cầu từ khách hàng
                        span.year 2022
                    a.btn.btn-detail(href="") Xem chi tiết
                        em.material-icons chevron_right
                .wrapper-right_header--right 
                    .img 
                        img(src="./images/icons/earth.svg", alt="")
            .wrapper-right_body
                .progressbar-view
                    .progressbar
                        label(for="") Khách hàng Cá nhân
                        #progressbar-individualCustomer
                    span.count 03/100
                .progressbar-view
                    .progressbar
                        label(for="") Khách hàng Doanh nghiệp
                        #progressbar-bussinessCustomer
                    span.count 04/100