section.created-repuest
    .wrapper-container 
        .wrapper-left 
            .side-bar 
                h2.side-bar_title YÊU CẦU CHỜ XỬ LÝ
                ul.side-bar_list 
                    li 
                        a(href="") 
                            em.material-icons mail_outline
                            span Tất cả
                    li 
                        a(href="") 
                            em.material-icons done_all
                            span Bổ sung hồ sơ
                    li 
                        a(href="") 
                            em.material-icons schedule
                            span Chưa xử lý