.side-bar 
    h2.side-bar_title TẠO YÊU CẦU
    ul.side-bar_list 
        li 
            a(href="") 
                em.ri-file-list-3-line
                span Cá nhân
        li 
            a(href="") 
                em.ri-window-2-line
                span Doanh nghiệp
        li 
            a(href="") 
                em.ri-user-line
                span Tạo yêu cầu thay đổi thông tin KH