section.header-menu
    .wrapper-container
        .tabs-menu
            ul.tab-list.d-flex.align-items-center
                li
                    .wrapper-content.d-flex.align-items-center
                        .icon 
                            img(src="./images/icons/created-request.svg", alt="")
                        a(href="") 
                            p.title-item Tạo yêu cầu
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    .wrapper-content.d-flex.align-items-center
                        .icon 
                            img(src="./images/icons/handling-request.svg", alt="")
                        a(href="") 
                            p.title-item Yêu cầu chờ xử lý
                                span 12
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    .wrapper-content.d-flex.align-items-center
                        .icon 
                            img(src="./images/icons/processed-request.svg", alt="")
                        a(href="")
                            p.title-item Yêu cầu đã xử lý
                                span 95
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    .wrapper-content.d-flex.align-items-center
                        .icon 
                            img(src="./images/icons/save-draft.svg", alt="")
                        a(href="")
                            p.title-item Lưu nháp
                                span 03
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
                li
                    .wrapper-content.d-flex.align-items-center
                        .icon 
                            img(src="./images/icons/customer-request.svg", alt="")
                        a(href="")
                            p.title-item Yêu cầu từ Khách hàng
                                span 07
                        .arrow.d-flex.align-items-center 
                            em.material-icons chevron_right
