#popup-detail.popup-detail.popup-savedraft
    .popup-header.wide 
        h2.title Cập nhật số điện thoại
    .popup-main 
        form.wrap-form.wide(action="") 
            .row
                .form-group.col-lg-6
                    label(for="") Mã Khách hàng:
                    input.form-control(type="text" value='0123456' disabled)
                .form-group.col-lg-3
                    label(for="") Ngày giao việc:
                    input.form-control(type="date" value='03/04/2022' placeholder='dd/mm/yyyy')
                .form-group.col-lg-3
                    label(for="") Mức độ ưu tiên:
                    .level-light.d-flex.align-items-center
                        span.dot.green 
                        span.txt Thấp
            .row 
                .form-group.col-lg-12 
                    label(for="") Nội dung thay đổi
                    input.form-control(type="text" value='Cập nhật số điện thoại')
            .row 
                .form-group.col-lg-6
                    label(for="") Thông tin cũ
                    .area-code.d-flex.align-items-center
                        select(name="") 
                            option(value='hide') +84
                            option(value='+84') +84
                            option(value='+85') +85
                        input.form-control(type="text" name="" value='912738521')
                .form-group.col-lg-6
                    label(for="") Thông tin mới 
                    .area-code.d-flex.align-items-center
                        select(name="") 
                            option(value='hide') +84
                            option(value='+84') +84
                            option(value='+85') +85
                        input.form-control(type="text" name="" value='966915852')
            .row 
                .form-group.col-lg-12
                    label(for="") Các file kèm thêm
                    table#file-upload  
                        thead 
                            tr 
                                th Tên file
                                th Loại file
                                th Kich thước
                                th Thao tác
                        tr 
                            td 
                                .name-file Yeucau.xlsx (8Mb)
                            td 
                                .file-style
                            td 
                                .file-size 
                            td 
                                a(href="" download) 
                                    img(src="./images/icons/cloud-download.svg", alt="")
                .form-group.col-lg-12
                    label.custom-file-label(for="") 
                        img(src="./images/icons/cloud-upload.svg", alt="")
                        span Upload file
                    input.custom-file-input#customFile(type="file", name="") 
                        
            .button-bottom 
                button.btn.btn-handle Lưu nháp
                button.btn.btn-done Gửi duyệt