#popup-infor.popup-detail.popup-infor
    .popup-header.wide
        h2.title Giấy tờ liên quan
    .popup-main
        .swiper.gallery-top
            .swiper-wrapper
                .swiper-slide
                    img(src='./images/info-custome/avatar-big.jpg')
                .swiper-slide
                    img(src='./images/info-custome/id-card.jpg')
                .swiper-slide
                    img(src='./images/info-custome/id-card-back.jpg')
                .swiper-slide
                    img(src='./images/info-custome/car-card.jpg')
            .swiper-button-next
            .swiper-button-prev
        .swiper.gallery-thumbnail(thumbsslider='')
            .swiper-wrapper
                .swiper-slide
                    img(src='./images/info-custome/avatar-big.jpg')
                .swiper-slide
                    img(src='./images/info-custome/id-card.jpg')
                .swiper-slide
                    img(src='./images/info-custome/id-card-back.jpg')
                .swiper-slide
                    img(src='./images/info-custome/car-card.jpg')




















