#popup-detail.popup-detail.popup-transaction
    .popup-header.wide
        h2.title Chi tiết giao dịch 00270489653214
    .popup-main
        .wrap-table
            table 
                tr 
                    th 
                        .title 
                            span STT
                    th 
                        .title 
                            span Ngày GD
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                    th 
                        .title 
                            span Ngày hiệu lực 
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                    th 
                        .title 
                            span Loại GD
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                    th 
                        .title 
                            span TK đối ứng 
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                    th 
                        .title 
                            span Nội dung
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                    th 
                        .title 
                            span Phát sinh nợ
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                    th 
                        .title 
                            span Phát sinh có
                            span 
                                img(src="./images/icons/sort.svg", alt="")
                -for(i=0; i<5; i++)
                    tr
                        td 1
                        td 30/07/2021
                        td 30/09/2021
                        td UL/ILP
                        td 00270489653214
                        td STK - tại quầy
                        td 20,000,000.0
                        td 20,000,000.0
    .button-bottom
            button.btn.btn-handle.gray(data-fancybox-close) Đóng




















