.side-bar 
    h2.side-bar_title LƯU NHÁP
    .side-bar_body
        .side-bar_body--top
            ul.side-bar_body--top__list 
                li 
                    a(href="") 
                        em.material-icons mail_outline
                        span Tất cả
        