extends _layout.pug

block var
	- var title = 'Lưu nháp'
	- var bodyClass = 'body'

block main
	include ../components/layout/search-box/index.pug
	include ../components/tabControl/index.pug
	include ../components/luuNhap/index.pug
	include ../components/popup/luuNhap.pug

