.info-customer-page
    .wrapper-container
        flex-wrap: wrap
        .wrap-left
            padding-right: 12px
            flex: 0 0 25%
            width: 25%
            .info-wrapper
                width: 100%
                height: 100%
                padding: 16px 16px 24px 16px
                background: #FFFFFF
                box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.05)
                border-radius: 8px
                .info-general
                    margin-bottom: 16px
                    .img
                        width: 178px
                        height: 178px
                        border-radius: 50%
                        margin: 0 auto 16px auto
                        img
                            width: 100%
                            height: 100%
                            object-fit: cover
                    .customer-name
                        p
                            text-align: center
                            font-weight: bold
                            font-size: 20px
                            color: $neutral-5
                    .customer-core
                        display: flex
                        align-items: center
                        justify-content: center
                        p
                            font-size: 16px
                            color: $neutral-4
                            margin-right: 4px
                        span
                            padding: 0px 8px
                            background: $yellow-brand
                            border-radius: 4px
                .info-detail
                    max-height: 325px
                    overflow-y: auto
                    margin-bottom: 16px
                    table
                        width: 100%
                        tr
                            td
                                width: 50%
                                padding: 8px 0
                                vertical-align: top
                                &:first-child
                                    font-weight: 600
                                    color: $neutral-4
                                &:last-child
                                    color: $neutral-4
                                    span,
                                    a
                                        font-weight: 600
                                        color: $blue-4
                .btn-login
                    display: flex
                    justify-content: center
                    background: linear-gradient(90deg, #F7A30A 0%, #FCC049 100%)
                    border-radius: 6px

                    em
                        margin-right: 12px

        .wrap-right
            width: 75%
            flex: 0 0 75%
            &_container
                width: 100%
                height: 100%
                padding: 16px 16px 24px 16px
                background: #FFFFFF
                box-shadow: 0px 2px 16px rgba(33, 43, 54, 0.05)
                border-radius: 8px
                ul.nav
                    padding-bottom: 16px
                    li
                        cursor: pointer
                        a
                            padding: 14px 0
                            position: relative
                            font-weight: 600
                            font-size: 16px
                            color: #212B36

                        &.active
                            a
                                color: #BE1128
                                &::after
                                    position: absolute
                                    width: 100%
                                    height: 4px
                                    content: ''
                                    background: #BE1128
                                    bottom: 0
                                    left: 0
                    li + li
                        margin-left: 16px
                &--content
                    padding-top: 24px
                    .content-top
                        flex-wrap: wrap
                        margin-left: -8px
                        margin-right: -8px
                        padding-bottom: 24px
                        .wrap-left,
                        .wrap-right
                            padding: 0 8px
                            flex: 0 0 50%
                            width: 50%
                            .wrapper-content
                                background: #F8F9FA
                                border-radius: 8px
                                height: 330px
                                padding: 16px
                                .title
                                    margin-bottom: 30px
                                    width: 100%
                                    p
                                        font-weight: bold
                                        font-size: 20px
                                        color: $neutral-5
                                    a
                                        display: block
                                        margin-left: auto
                                        font-weight: 600
                                        color: $blue-4
                                .chart-wrapper
                                    .chart-content
                                        width: 196px
                                        height: 196px
                                    .list-chart
                                        margin-left: 40px
                                        li
                                            margin-bottom: 8px
                                            .dot
                                                margin-right: 10px
                                            span
                                                color: $neutral-4

                                .count-number
                                    text-align: right
                                    a
                                        font-size: 1rem
                                        color: $neutral-4
                                        margin-left: 24px

                                        span
                                            font-weight: 700
                    .content-bottom
                        .title
                            padding-bottom: 24px
                            p
                                font-weight: 700
                                font-size: 20px
                                color: $neutral-5
                        .list-form-check
                            flex-wrap: wrap
                            &:nth-child(2)
                                border-radius: 4px
                                padding: 8px
                                margin-bottom: 16px
                                .form-check
                                    .form-group
                                        background: rgba(255, 255, 255, 0.7)
                            .form-check
                                flex: 0 0 33.3333333%
                                width: 33.3333333%
                                padding: 0 12px
                                .form-group
                                    padding: 16px
                                    border-radius: 4px
                                    .form-label
                                        font-weight: 600
                                        font-size: 20px
                                        color: $neutral-4
                                        padding-left: 25px
                                    .form-control
                                        display: none
                                    .form-label
                                        display: block
                                        position: relative
                                        cursor: pointer

                                        &::before
                                            content: "\e5ca"
                                            font-family: Material Icons
                                            font-size: 13px
                                            color: transparent
                                            display: flex
                                            justify-content: center
                                            align-items: center
                                            position: absolute
                                            width: 18px
                                            height: 18px
                                            border-radius: 4px
                                            background: $yellow-5
                                            left: 0
                                            top: 50%
                                            transform: translateY(-50%)
                                    .form-control
                                        &:focus
                                            outline: 0
                                    #checkInternetBanking:checked + .form-label::before,
                                    #checkSMSBanking:checked + .form-label::before,
                                    #checkMobileBanking:checked + .form-label::before,
                                    #checkCard:checked + .form-label::before,
                                    #checkInsurance:checked + .form-label::before,
                                    #checkPromotion:checked + .form-label::before
                                        color: $white
                                    a
                                        color: $blue-4
                                        font-weight: 600
                                        margin-left: auto
                                &:first-child
                                    padding-left: 0
                                &:last-child
                                    padding-right: 0
                        .wrapper-content
                            width: 100%
                            .left-box
                                width: 33.54792560801144%
                                border-radius: 8px
                                background: #FFF0E5
                                .content-progress
                                    padding-bottom: 16px
                                    border-bottom: 1px solid #D3D8DE
                                    flex-wrap: wrap
                                    justify-content: center
                                    li
                                        flex: 0 0 1
                                        width: 117px
                                        text-align: center
                                        p
                                            text-align: center
                                            color: #454F5B
                                        label
                                            padding-bottom: 8px
                                            font-weight: bold
                                            font-size: 20px
                                            text-align: center
                                            color: #212B36
                                    li + li
                                        margin-left: 32px
                                .total
                                    padding-top: 16px

                                    label
                                        color: #454F5B
                                    p
                                        font-weight: bold
                                        font-size: 20px
                                        color: $neutral-5
                                @media screen and ( max-width: 1280.98px )
                                    width: 50%
                                    .content-progress
                                        li + li
                                            margin-left: 16px
                            .right-box
                                width: calc( 100% - 33.54792560801144% )
                                margin-left: 16px
                                border: 1px solid #B6BEC8
                                box-sizing: border-box
                                border-radius: 8px
                                background-image: url('../images/info-custome/bg-chart.svg')
                                background-repeat: no-repeat
                                background-position: bottom
                                .list-items
                                    padding-top: 30px
                                    margin: 0 auto
                                    li
                                        .icons
                                            width: 55px
                                            height: 55px
                                            display: flex
                                            align-items: center
                                            justify-content: center
                                            border-radius: 50%
                                            margin: 0 auto

                                        .content
                                            span
                                                padding-top: 24px
                                                font-weight: bold
                                                font-size: 20px
                                                color: #454F5B
                                                white-space: nowrap
                                                text-align: center
                                                display: block
                                            p
                                                font-weight: bold
                                                font-size: 32px
                                                text-align: center
                                                padding-bottom: 20px
                                        &:nth-child(1)
                                            .icons
                                                background: #FDE8E8
                                            .content
                                                p
                                                    color: #BE1128

                                        &:nth-child(2)
                                            .icons
                                                background: #FFF0E5
                                            .content
                                                p
                                                    color: #F56600
                                        &:nth-child(3)
                                            .icons
                                                background: #F2FAE2
                                            .content
                                                p
                                                    color: #7DBA00
                                    li + li
                                        margin-left: 82px
                                @media screen and ( max-width: 1280.98px )
                                    width: 50%
                                    flex-direction: column
                                    justify-content: center
                                    align-items: center
                                    .title
                                        .btn-login
                                            margin: 0 auto
                                    .list-items
                                        padding-top: 0
                                        li
                                            .content
                                                span
                                                    font-size: 16px
                                                p
                                                    font-size: 24px
                                                span,
                                                p
                                                    padding: 0
                                        li + li
                                            margin-left: 30px
                            .left-box,
                            .right-box
                                height: 230px
                                padding: 16px 16px 12px 16px
                                .title
                                    p
                                        padding-bottom: 24px
                                        font-weight: bold
                                        font-size: 20px
                                        color: #212B36
                                    .btn-login
                                        width: max-content
                                        display: flex
                                        align-items: center
                                        justify-content: center
                                        padding: 12px 16px
                                @media screen and ( max-width: 1280.98px )
                                    .title
                                        p
                                            padding-bottom: 8px
                                        .btn-login
                                            padding: 4px 16px

        @media screen and ( max-width: 1280.98px )
            .wrap-left
                .info-wrapper
                    .info-detail
                        max-height: 250px
                        table
                            tr
                                td
                                    font-size: 14px

            .wrap-right
                &_container
                    &--content
                        .content-top
                            .wrap-left,
                            .wrap-right
                                .wrapper-content
                                    .chart-wrapper
                                        .list-chart
                                            li
                                                span
                                                    font-size: 14px
                        .content-bottom
                            .list-form-check
                                .form-check
                                    padding: 0 5px
                                    .form-group
                                        padding: 12px
                                        .form-label
                                            font-size: 14px
                                        a
                                            font-size: 14px
