.side-bar 
    h2.side-bar_title YÊU CẦU ĐÃ XỬ LÝ
    .side-bar_body
        .side-bar_body--top
            ul.side-bar_body--top__list 
                li 
                    a(href="") 
                        em.material-icons mail_outline
                        span Tất cả
                li 
                    a(href="") 
                        em.material-icons done_all
                        span Hoàn tất
                li 
                    a(href="") 
                        em.material-icons do_disturb_on
                        span Từ chối
                li 
                    a(href="") 
                        em.material-icons done
                        span Đồng ý
        .side-bar_body--bottom
            h2.side-bar_body--bottom__title MỨC ĐỘ ƯU TIÊN
            ul.side-bar_body--bottom__list 
                li
                    a(href="") 
                        span.dot.green 
                        span.txt Thấp
                li
                    a(href="") 
                        span.dot.yellow 
                        span.txt Trung bình
                li
                    a(href="") 
                        span.dot.red 
                        span.txt Khẩn cấp