section.table-sec 
    .wrapper-container
        .container--tabs
            ul.nav.nav-tabs.d-flex.align-items-center
                li.active
                    a(href='#tab-1') Tiền gửi
                li
                    a(href='#tab-2') Tiền vay + Tài trợ thương mại
                li
                    a(href='#tab-3') Thẻ 
                li
                    a(href='#tab-4') Dịch vụ trực tuyến     
                li
                    a(href='#tab-5') Chương trình khuyến mãi
            .tab-content
                #tab-1.panel.active
                    .wrapper-header.d-flex.align-items-center  
                        .wrap-left 
                            .count-money.d-flex.align-items-center 
                                p Tổng VNĐ: 
                                    span 22.000.000.000
                                p USD: 
                                    span 100.000
                        .wrap-right.d-flex.align-items-center  
                            .search-box 
                                form(action="") 
                                    .form-group 
                                        input.form-control(type="text")
                                        .icon
                                            img(src="./images/icons/search-black.svg", alt="")
                    .wrapper-body 
                        table 
                            tr 
                                th 
                                    .title
                                        span STT
                                th 
                                    .title 
                                        span Số tài khoản
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Loại TK
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Trạng thái
                                th 
                                    .title 
                                        span Loại tiền
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Số dư kế toán
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Số dư khả dụng
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Số dư bị phong tỏa
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Ngày mở
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày đáo hạn
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th  
                                    .title 
                                        span Ngày tất toán
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span  Kỳ hạn
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Lãi suất
                                th 
                                    .title 
                                        span Chương trình ưu đãi
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Ngày GD cuối cùng
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Số tiền ghi Có cao nhất 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Số tiền ghi Nợ cao nhất 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Doanh số ghi Nợ 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Doanh số ghi Có 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Người liên quan
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Mối quan hệ của Người liên quan
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                            -for(i=0; i<6; i++)
                                tr 
                                    td 1
                                    td 
                                        span 00270489653214
                                    td Mã + tên
                                    td 
                                        .status.green 
                                            p Active
                                    td VND
                                    td 50,000,000
                                    td 50,000,000
                                    td 50,000,000
                                    td 30/07/2021
                                    td 30/07/2021
                                    td 30/07/2021
                                    td 3M
                                    td 16,5%
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td 30/07/2021
                                    td 20,000,000.0
                                    td 20,000,000
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td CIF - Tên
                                    td Đồng chủ TK
                    nav.pagination-nav.d-flex.align-items-center  
                        p Tổng số dòng: 15 (Hiển thị từ 1 đến 5)
                        ul.pagination.d-flex.align-items-center  
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_before
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_next

                #tab-2.panel
                    .wrapper-header.d-flex.align-items-center  
                        .wrap-left 
                            .count-money.d-flex.align-items-center 
                                p Tổng VNĐ: 
                                    span 22.000.000.000
                                p USD: 
                                    span 100.000
                        .wrap-right.d-flex.align-items-center  
                            .select-box.d-flex.align-items-center  
                                .dot.green-4
                                select
                                    option(value='hide') Active
                                    option(value='active') Active
                            .search-box 
                                form(action="") 
                                    .form-group 
                                        input.form-control(type="text")
                                        .icon
                                            img(src="./images/icons/search-black.svg", alt="")
                    .wrapper-body 
                        table 
                            tr 
                                th 
                                    .title
                                        span STT
                                th 
                                    .title 
                                        span Hợp đồng vay
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Loạn sản phẩm
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Trạng thái
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Loại tiền
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Số tiền vay
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Dư nợ
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày giải ngân
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Ngày đáo hạn
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày tất toán
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th  
                                    .title 
                                        span Thời gian vay
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Lãi suất
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Nhóm nợ
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Mục đích vay
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Giá trị GD cao nhất 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Mức GD cao nhất 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Người liên quan
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Mối quan hệ của 
                                            br 
                                            |Người liên quan
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                            -for(i=0; i<6; i++)
                                tr(data-fancybox="popup-loan-'+i+'" data-src='#popup-detail-loan') 
                                    td 1
                                    td 0001095188_10
                                    td 307-CV SXKD khac (HM)
                                    td 
                                        .status.green 
                                            p Active
                                    td VND
                                    td 50,000,000
                                    td 50,000,000
                                    td 30/07/2021
                                    td 30/07/2021
                                    td 30/07/2021
                                    td 6M
                                    td 16,5%
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td Vốn vay LĐ
                                    td  20,000,000
                                    td  20,000,000
                                    td CIF - Tên
                                    td Đồng chủ TK
                    nav.pagination-nav.d-flex.align-items-center  
                        p Tổng số dòng: 15 (Hiển thị từ 1 đến 5)
                        ul.pagination.d-flex.align-items-center  
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_before
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_next
                
                #tab-3.panel
                    .wrapper-header.d-flex.align-items-center  
                        .wrap-left 
                            .count-money.d-flex.align-items-center 
                                p Tổng VNĐ: 
                                    span 22.000.000.000
                                p USD: 
                                    span 100.000
                        .wrap-right.d-flex.align-items-center  
                            .select-box.d-flex.align-items-center  
                                .dot.green-4
                                select
                                    option(value='hide') Active
                                    option(value='active') Active
                            .search-box 
                                form(action="") 
                                    .form-group 
                                        input.form-control(type="text")
                                        .icon
                                            img(src="./images/icons/search-black.svg", alt="")
                    .wrapper-body 
                        table 
                            tr 
                                th 
                                    .title
                                        span STT
                                th 
                                    .title 
                                        span Số thẻ
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Số tài khoản
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Loại thẻ
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Trạng thái
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Phương thức xác thực
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Hạn mức thẻ (ĐV thẻ TD)
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Hạn mức còn lại (ĐV thẻ TD)
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Dư nợ hiện tại
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày mở
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th  
                                    .title 
                                        span Ngày đến hạn
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Đăng ký thanh toán trực tuyến
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày GD cuối cùng
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Doanh số 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Giá trị GD cao nhất 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")

                            -for(i=0; i<6; i++)
                                tr 
                                    td 1
                                    td 00270489653214
                                    td 00270489653214
                                    td Master
                                    td 
                                        .status.green 
                                            p Active
                                    td Email
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 30/07/2021
                                    td 30/07/2021
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td 30/07/2021
                                    td 20,000,000.0
                                    td 20,000,000.0
                    nav.pagination-nav.d-flex.align-items-center  
                        p Tổng số dòng: 15 (Hiển thị từ 1 đến 5)
                        ul.pagination.d-flex.align-items-center  
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_before
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_next

                #tab-4.panel
                    .wrapper-header.d-flex.align-items-center  
                        .wrap-right.d-flex.align-items-center  
                            .select-box.d-flex.align-items-center  
                                .dot.green-4
                                select
                                    option(value='hide') Active
                                    option(value='active') Active
                            .search-box 
                                form(action="") 
                                    .form-group 
                                        input.form-control(type="text")
                                        .icon
                                            img(src="./images/icons/search-black.svg", alt="")
                    .wrapper-body 
                        table 
                            tr 
                                th 
                                    .title
                                        span STT
                                th 
                                    .title 
                                        span Dịch vụ
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Đăng ký DV
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Phương thứcxác thực
                                th 
                                    .title 
                                        span Hạn mức GD
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Hạn mức GD 1 lần
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Hạn mức GD còn lại/ngày
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Hạn mức GD còn lại/tháng
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Ngày GD gần nhất
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Doanh số 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th  
                                    .title 
                                        span Mức GD cao nhất 6T
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Được miễn phí DV
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Số tiền nợ phí DV (nếu có)
                            tr
                                td(style="color: #F7A30A; font-weight: 600") I
                                td(colspan='12' style="text-align: left; color: #F7A30A; font-weight: 600") Internet Banking
                            -for(i=0; i<2; i++)
                                tr 
                                    td 1
                                    td SMS
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td Email
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 30/07/2021
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td 20,000,000.0
                            tr
                                td(style="color: #F7A30A; font-weight: 600") II
                                td(colspan='12' style="text-align: left; color: #F7A30A; font-weight: 600") Ủy thác thanh toán
                            -for(i=0; i<5; i++)
                                tr 
                                    td 1
                                    td Thuế điện tử
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td Email
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 30/07/2021
                                    td 20,000,000.0
                                    td 20,000,000.0
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td 20,000,000.0
                            tr
                                td(style="color: #F7A30A; font-weight: 600") III
                                td(colspan='12' style="text-align: left; color: #F7A30A; font-weight: 600") DV Quản lý TK tập trung

                    nav.pagination-nav.d-flex.align-items-center  
                        p Tổng số dòng: 15 (Hiển thị từ 1 đến 5)
                        ul.pagination.d-flex.align-items-center  
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_before
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_next

                #tab-5.panel
                    .wrapper-header.d-flex.align-items-center  
                        .wrap-right.d-flex.align-items-center  
                            .search-box 
                                form(action="") 
                                    .form-group 
                                        input.form-control(type="text")
                                        .icon
                                            img(src="./images/icons/search-black.svg", alt="")
                    .wrapper-body 
                        table 
                            tr 
                                th 
                                    .title
                                        span STT
                                th 
                                    .title 
                                        span Tham gia
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title
                                        span Loại sản phẩm
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Tên chương trình
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Tên chương trình
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày bắt đầu
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                                th 
                                    .title 
                                        span Ngày kết thúc
                                        span  
                                            img(src="./images/icons/sort.svg", alt="")
                            -for(i=0; i<6; i++)
                                tr 
                                    td 1
                                    td 
                                        input#checkbox.form-control(type="checkbox")
                                        span.form-label
                                    td Tiền gửi
                                    td Đến pharmacity - vui quét QR
                                    td 00270489653214
                                    td 30/07/2021
                                    td 30/09/2021
                    nav.pagination-nav.d-flex.align-items-center  
                        p Tổng số dòng: 15 (Hiển thị từ 1 đến 5)
                        ul.pagination.d-flex.align-items-center  
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_before
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#')
                                    em.material-icons navigate_next
