section.info-customer-page 
    .wrapper-container.d-flex
        .wrap-left 
            .info-wrapper
                .info-general 
                    .img
                        img(src="./images/info-custome/avatar.png", alt="")
                    .customer-name 
                        p Nguyễn Anh Khoa
                    .customer-core 
                        p Mã Khách hàng:
                        span 00169235
                .info-detail 
                    table 
                        tr 
                            td Hạng Premier:
                            td VIP
                        tr 
                            td Điểm XHTD:
                            td 100
                        tr 
                            td Số GTTT:
                            td 
                                span 02546987 (CMND)
                        tr 
                            td Ngày sinh:
                            td 12/10/1961
                        tr 
                            td Tuổi - Giới tính:
                            td 30 - Nam
                        tr 
                            td Chỗ ở hiện tại:
                            td 174 Phan Đăng Lưu, Phường 3, Quận Phú Nhuận, Tp.Hồ Chí Minh
                        tr 
                            td Số điện thoại:
                            td *******999
                        tr 
                            td Email:
                            td anv@gmail.com
                        tr 
                            td Giấy tờ khác:
                            td 
                                a(href="")  Chi tiết
                        tr 
                            td Trình độ học vấn:
                            td Đại học
                        tr 
                            td Nghề nghiêp:
                            td Giám đốc Marketing
                        tr 
                            td Tình trạng hôn nhân:
                            td Đã kết hôn
                        tr 
                            td Đơn vị mở CIF:
                            td --
                        tr 
                            td Ngày mở CIF:
                            td 12/10/2000
                a.btn.btn-login(href="") 
                    em.material-icons format_list_bulleted
                    span Các yêu cầu cần xử lý (02)
        
        .wrap-right 
            .wrap-right_container
                ul.nav.d-flex.align-items-center
                    li
                        a(href='thong-tin-khach-hang-doanh-nghiep.html') Thông tin tài chính
                    li.active
                        a(href='thong-tin-tai-chinh-chi-tiet.html') Thông tin chi tiết
                .wrap-right_container--content
                    .title 
                        p Khách hàng liên quan
                    .customer-related 
                        table 
                            tr 
                                th Tên Khách hàng
                                th Mã Khách hàng
                                th Chứng minh nhân dan
                                th Mối quan hệ
                            tr 
                                td 
                                    a(href="") Nguyễn Thị Lan
                                td 00169235
                                td 036695875
                                td Vợ
                            tr 
                                td 
                                    a(href="") Nguyễn Thị Hương
                                td 00169235
                                td 036695875
                                td Con

